@model ltracker.Models.NewAssignmentViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Nueva asignación</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.AssignmentDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssignmentDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.AssignmentDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IndividualId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model=>model.IndividualId,Model.IndividualList,new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.IndividualId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model=>model.CourseId, Model.CoursesList,new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        //scopes public y private
        //module pattern
        var newAssignment = (function () {
            //privado
            //este método si es accesible
            var start = function () {
                //Se puede poner en el layout
                /*Globalize.culture("es-MX"); //Not sure that it's your locale, maby you need other
                $.validator.methods.date = function (value, element) {
                    return this.optional(element) || Globalize.parseDate(value);
                };*/
                /*$('.datepicker').datepicker({
                    format: 'dd/mm/yyyy H:mm',
                    language: 'es-MX',
                    autoclose: true
                });*/
            }
            
            //Este método no está accesible
            var doSave = function(){
            
            }
            //público
            return {
                start:start
            };
        })();

        $(function () {
            var module = newAssignment;
            module.start();
        });

    </script>
}
