@model IEnumerable<ltracker.Models.MenuViewModel>

@{
    ViewBag.Title = "Menus";
}

<h2>Menus</h2>

<p>
    @Html.ActionLink("Create New", "CreateMenu")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Key)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Key)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @if(item.IsActive.Value){
                <span>Activo</span>
            }
            else
            {
                <span>Inaactivo</span>
            }
        </td>
        <td>
            @Html.ActionLink("Editar", "EditMenu", new {  id=item.Key  }) |
            @Html.ActionLink("Ver Items", "MenuItems", new { id = item.Key })
        </td>
    </tr>
}

</table>
